<nav class="navbar navbar-expand navbar-dark bg-dark static-top" id="page-top">

    <a class="navbar-brand mr-1" href="{{ path('admin_dashboard_index') }}"><img src="{{ asset('img/admin/logo.png') }}" alt="" height="26px"></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-md-3">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="{{ path('app_index') }}" title="Go to the site" target="_blank">
                <i class="fas fa-share"></i>
            </a>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        </li>
    </ul>

</nav>