<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_dashboard_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Главная</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Страницы</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{{ path('admin_page_create') }}">Создать страницу</a>
            <a class="dropdown-item" href="{{ path('admin_page_index') }}">Список страниц</a>
            <a class="dropdown-item" href="{{ path('admin_example_create') }}">Создать пример</a>
            <a class="dropdown-item" href="{{ path('admin_example_index') }}">Список примеров</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Вопросы</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{{ path('admin_faq_list') }}">FAQ</a>
            <a class="dropdown-item" href="{{ path('admin_settings_survey') }}">Опрос</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Настройки</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{{ path('admin_settings_general') }}">Общие</a>
            <a class="dropdown-item" href="{{ path('admin_settings_general') }}">Меню</a>
        </div>
    </li>
</ul>
