{% extends "admin/admin.html.twig" %}

{% block admin_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <h4>Пример работ</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.question) }}
                {{ form_errors(form.question) }}
                {{ form_widget(form.question) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.answer) }}
                {{ form_errors(form.answer) }}
                {{ form_widget(form.answer) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}