{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('image-picker/image-picker.css') }}">
    <style>
        .example-image-preview {
            width: 100px;
        }

        .example-image-preview img {
            width: 100%;
        }
    </style>
{% endblock %}

{% block admin_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <h4>Пример работ</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Выбрать изображение
                </button>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    {{ form_widget(form.image) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{{ asset('image-picker/image-picker.min.js') }}"></script>
    <script>
        $("select").imagepicker({hide_select: true})
    </script>
{% endblock %}