{% extends "admin/admin.html.twig" %}

{% block admin_content %}
    <div class="row p-2">
        <div class="col-md-6">
            <h3>Список примеров работ</h3>
        </div>
        <div class="col-md-6">
            <a href="{{ path('admin_example_create') }}" class="float-right btn btn-success">Создать</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                {{ grid(grid) }}
            </div>
        </div>
    </div>
{% endblock %}
