{% extends "admin/admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/media.css') }}">
{% endblock %}
{% block admin_content %}
    <div id="media-container">
    </div>
    <div class="modal fade" id="add-folder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <p>Folder Modal</p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-media" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <p>Media modal</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/media.js') }}"></script>
{% endblock %}