{% extends "admin/admin.html.twig" %}

{% block admin_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            <h4>Product settings</h4>
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_errors(form.price) }}
                {{ form_widget(form.price) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                {{ form_label(form.categories) }}
                {{ form_errors(form.categories) }}
                {{ form_widget(form.categories) }}
            </div>
        </div>
    </div>
    <div class="row pb-2 pt-2">
        <div class="col-md-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}