body {
    background-color: #f7f9fa;
    font-family: 'Open Sans', sans-serif;
}

.main-screen {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-screen h4 {
    padding-top: 100px;
}

.main-headers {
    font-size: 1.2rem;
    font-weight: 600;
    color: #006d99;
}

.phone-number {
    font-weight: 600;
    font-size: 18px;
}

.shadowed {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.service-block {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.service-image {
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.example-image {
    height: 400px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.btn-custom {
    color: white;
    background-color: #006d99;
    border: 1px solid white;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 10px 30px;
    margin-top: 20px;
}

.btn-custom:hover {
    color: grey;
    background-color: #006f99;
    border: 1px solid grey;
}

.pref-icon-block {
    margin-top: 25px;
    margin-bottom: 25px;
}

.icon-block p {
    margin: 10px;
}

.steps {
    color: #fff;
    padding-bottom: 2em;
}

.steps hr {
    border-top: 2px solid #fff;
}

.survey-header {
    background-color: #006f99;
    color: #fff;
}

a {
    color: #333;
}

.page-gallery-image {
    height: 250px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
