{% extends "site/site.html.twig" %}

{% block site_content %}
    <div class="row" style="background-color:#000;">
        <div class="col-md-12">
            <div class="row main-screen main-screen-index"
                 style="background-image:url({{ asset('img/main/main_bg.png') }});">
                <div class="col-md-10 mr-auto ml-auto text-center">
                    <h1>Производство и монтаж ограждений<br>
                        из нержавеющей стали и перегородок из стекла</h1>
                    <h5>Для физических и юридических лиц. По всей Беларуси.</h5>
                    <h5 class="header-margin">Пройдите простой тест и узнайте предварительную стоимость<br>
                        для вашего объекта</h5>
                    <p><a href="{{ path('app_survey') }}" class="btn btn-custom">Пройти тест</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto" style="margin: 30px;">
            <div class="shadowed" style="margin: 15px; padding: 10px;">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <p class="main-headers">Вы можете расчитывать на:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 ml-auto text-center">
                        <img src="{{ asset('img/main/measure.png') }}" alt="">
                        <p>Бесплатный замер</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('img/main/delivery.png') }}" alt="">
                        <p>Бесплатную доставку</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('img/main/certificate.png') }}" alt="">
                        <p>Гарантию 5 лет</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('img/main/calendar.png') }}" alt="">
                        <p>Срок выполнения до 10 дней</p>
                    </div>
                    <div class="col-md-2 mr-auto text-center">
                        <img src="{{ asset('img/main/payment.png') }}" alt="">
                        <p>Наличный и безналичный расчет</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
            <p class="main-headers text-center">Услуги, которые будут Вам полезны</p>
        </div>
        <div class="col-md-10 mr-auto ml-auto">
            <div class="row" style="padding: 15px;">
                {% for item in items %}
                    <div class="col-md-4">
                        <a href="{{ path('app_page', {'slug': item.slug}) }}">
                            <div class="shadowed service-block text-center">
                                {% if item.media.count > 0 %}
                                    {% set image = 'img/main/uploads/' ~ item.media.values[0].url %}
                                    {% for media in item.media %}
                                        {% if media.isMain %}
                                            {% set image = 'img/main/uploads/' ~ media.url %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% set image = 'http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg' %}
                                {% endif %}
                                <div class="service-image" style="background-image:url({{ image }});"></div>
                                <p style="margin-top: 0.5em;">{{ item.title }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="col-md-12 text-center">
                    <a href="#" data-toggle="modal" data-target="#modal-form" class="btn btn-custom">вызвать
                        замерщика</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ mainText| raw }}
        </div>
    </div>
    <div class="row" style="margin-bottom: 1.5em;">
        <div class="col-md-10 mr-auto ml-auto">
            <p class="main-headers text-center" style="margin-top: 1.5em;">Примеры наших работ за период 2010-2018
                годов</p>
        </div>
        <div class="col-md-10 mr-auto ml-auto">
            <div class="row" id="example-container" style="padding: 15px; margin-bottom: 1em;">
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a style="margin-bottom: 1em; color: white;" class="btn btn-custom" id="more-examples">больше
                        примеров</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'site/partials/pre-menu.html.twig' %}
{% endblock %}
