{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% block site_content %}
            <div class="row">
                <div class="col-md-12 text-center p-5">
                    <h3>Page Not Found</h3>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
