{% extends "site/site.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('gallery/gallery.css') }}">
{% endblock %}

{% block site_content %}
    <div class="row main-screen" style="background-image:url({{ asset('img/main/main_bg.png') }});">
        <div class="col-md-10 mr-auto ml-auto text-center pt-5" style="min-height: 400px;">
            {{ page.content | raw }}
            <p><a href="#" data-toggle="modal" data-target="#modal-form" class="btn btn-custom"
                  style="margin-top: 100px;">Заказать просчет</a>
            </p>
        </div>
    </div>
    {% if page.subPages.count > 0 %}
        <div class="row">
            <div class="col-md-10 mr-auto ml-auto">
                <p class="main-headers text-center mt-5">Категории</p>
            </div>
            <div class="col-md-10 mr-auto ml-auto">
                <div class="row" style="padding: 15px;">
                    {% for item in page.subPages.values %}
                        {% if item.isVisible %}
                            <div class="col-md-4">
                                <a href="{{ path('app_page', {'slug': item.slug}) }}">
                                    <div class="shadowed service-block text-center">
                                        {% if item.media.count > 0 %}
                                            {% set image = 'img/main/uploads/' ~ item.media.values[0].url %}
                                            {% for media in item.media %}
                                                {% if media.isMain %}
                                                    {% set image = 'img/main/uploads/' ~ media.url %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% set image = 'http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg' %}
                                        {% endif %}
                                        <div class="service-image" style="background-image:url({{ image }});"></div>
                                        <p style="margin-top: 0.5em;">{{ item.title }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if page.media.count > 0 %}
        <div class="row">
            <div class="col-md-10 mr-auto ml-auto mt-3">
                <p class="main-headers text-center mb-0">Примеры наших работ</p>
            </div>
            <div class="col-md-10 mr-auto ml-auto">
                <div class="gallery" style="float: left; margin: 10px;">
                    <div class="albery-container" style="height: 400px; max-width: 100%;">
                        <div class="albery-wrapper">
                            {% for media in page.media.values %}
                                <div class="albery-item">
                                    <img src="{{ 'img/main/uploads/' ~ media.url }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="move-right">
                            <a href="#" id="rightArrow">▶</a>
                        </div>
                        <div class="move-left">
                            <a href="#" id="leftArrow">◀</a>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <div class="pagination-wrapper">
                            {% for media in page.media.values %}
                                <div class="pagination-item" data-item="{{ loop.index }}">
                                    <img src="{{ 'img/main/uploads/' ~ media.url }}" alt="" height="50px">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {{ page.description | raw }}
            </div>
        </div>
    {% endif %}
    {% include 'site/partials/pre-menu.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ asset('gallery/gallery.js') }}"></script>
    <script>
        $(".albery-container").albery({
            speed: 500,
            imgWidth: 600,
        });
    </script>
{% endblock %}