{% extends "site/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block site_content %}
    <div class="row mt-5 mb-5">
        <div class="col-md-10 ml-auto mr-auto shadowed">
            <div class="row">
                <div class="col-md-12 text-center survey-header pl-5 pr-5">
                    <h4 class="text-uppercase font-weight-bold">пройдите простой тест</h4>
                    <p>и узнайте предварительную стоимость производства и монтажа ограждений  и перегородок для Вашего объекта</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <form class="col-md-8 ml-auto mr-auto mt-5 contact-form">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <label>
                                        <input type="checkbox" class="filled-in" checked="checked" id="peregorodki"/>
                                        <span>Рассчитать перегородки</span>
                                    </label>
                                </div>
                                <div class="col-md-6 text-center">
                                    <label>
                                        <input type="checkbox" class="filled-in" checked="checked" id="ograzhdeniya"/>
                                        <span>Рассчитать ограждения</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                {% for question in questions %}
                                    {% if question.answers|length > 0 %}
                                        <div class="col-md-12 {{ question.type }}">
                                            <div class="input-field">
                                                <select name="{{ question.question }}">
                                                    <option value="" disabled selected>Выберите вариант</option>
                                                    {% for answer in question.answers %}
                                                        <option value="{{ answer.answer }}">{{ answer.answer }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="{{ question.question }}">{{ question.question }}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-md-12">
                                            <div class="input-field">
                                                <input placeholder="{{ question.question }}" type="text" class="validate" name="{{ question.question }}" required="required">
                                                <label for="{{ question.question }}">{{ question.question }}</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="col-md-12 text-center mt-3 mb-5">
                                    <button type="submit" class="btn btn-custom" style="height: 45px; line-height: 22px;">узнать результаты</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.FormSelect.init(document.querySelectorAll('select'));
        });
    </script>
{% endblock %}