{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'site/partials/header.html.twig' %}
        <div class="row">
            <div class="col-md-10 text-center ml-auto mr-auto">
                <h4 class="main-headers mt-5 mb-3">Отлично, мы получили вашу заявку!</h4>
                <p class=" mt-3 mb-3">С 8-00 до 18-00 с пн по сб мы свяжемся с Вами, сделаем предварительный просчет и согласуем время выезда на Ваш объект для замера.</p>
                <p class=" mt-3 mb-5">Если у Вас вопрос, который не может ждать - звоните прямо сейчас по номеру {{ phone }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/frontsurvey.js') }}"></script>
{% endblock %}