{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/page.css') }}">
{% endblock %}

{% block admin_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            <h4>Page settings</h4>
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_errors(form.slug) }}
                {{ form_widget(form.slug) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Additional settings</h4>
                    <div class="form-group">
                        {{ form_label(form.parent) }}
                        {{ form_errors(form.parent) }}
                        {{ form_widget(form.parent) }}
                    </div>
                    <div class="form-check">
                        {{ form_widget(form.isVisible) }}
                        {{ form_label(form.isVisible) }}
                        {{ form_errors(form.isVisible) }}
                    </div>
                    <div class="form-check">
                        {{ form_widget(form.showPreviews) }}
                        {{ form_label(form.showPreviews) }}
                        {{ form_errors(form.showPreviews) }}
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;">
            {{ form_widget(form.media) }}
            {{ form_label(form.media) }}
            {{ form_errors(form.media) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
    <div class="row mt-4 mb-2">
        <div class="col-md-12"><h4>Галерея</h4></div>
    </div>
    <div class="row m-5" id="gallery-container" data-page="{{ form.vars.value.id }}">
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="image-form" enctype="multipart/form-data">
                <input name="file" type="file" multiple>
                <input class="btn btn-success" type="submit" value="Загрузить" />
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/page.js') }}"></script>
{% endblock %}