{% extends "admin/admin.html.twig" %}

{% block admin_content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Общие настройки</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% for item in settings %}
                    {% if item.name == 'main_text' %}
                        <div class="form-group">
                            <label for="{{ item.name }}">{{ item.description }}</label>
                            <textarea class="ckeditor" cols="80" id="{{ item.name }}" name="{{ item.name }}"
                                      rows="10">{{ item.value }}</textarea>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ item.name }}">{{ item.description }}</label>
                            <input class="form-control" name="{{ item.name }}" placeholder="Введите значение"
                                   value="{{ item.value }}">
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('main_text');
    </script>
{% endblock %}