{% extends "admin/admin.html.twig" %}

{% block admin_content %}
    {% set names = constant('AppBundle\\Entity\\Menu::MENUS') %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <h4>Настройки отображения меню</h4>
            {% for menu in form.menus %}
                <div class="form-group">
                    {{ form_label(menu) }}
                    {{ form_widget(menu) }}
                    {{ form_errors(menu) }}
                </div>
            {% endfor %}
            <div class="form-group">
                {{ form_widget(form.save) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
