{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .remove-answer {
            position: absolute;
            top: 15px;
            right: 30px;
        }
    </style>
{% endblock %}

{% block admin_content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Настройка вопроса</h4>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_errors(form.question) }}
                {{ form_label(form.question) }}
                {{ form_widget(form.question) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_errors(form.type) }}
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.answers) }}
                <ul id="answer-fields-list" style="list-style-type: none;"
                    data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li class="p-1" style="position: relative;"></li>'|e }}">
                    {% for answer in form.answers %}
                        <li class="p-1" style="position: relative;">
                            {{ form_errors(answer) }}
                            {{ form_widget(answer) }}
                            <i class="fa fa-times remove-answer"></i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="button"
                    class="add-another-collection-widget btn btn-success"
                    data-list="#answer-fields-list">Добавить вариант ответа</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-3">
            <div class="form-group">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/questionForm.js') }}"></script>
{% endblock %}
