{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/survey.css') }}">
{% endblock %}

{% block admin_content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Список вопросов</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul id="items" class="list-group">
                {% for question in questions %}
                    <li class="list-group-item" data-id="{{ question.id }}">
                        <a href="{{ path('admin_settings_survey_question', {'id': question.id}) }}">{{ question.question }}</a>
                        <i class="fa fa-times float-right remove-question"></i>
                    </li>
                {% endfor %}
            </ul>
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <span id="survey-add-q">Добавить вопрос</span>
                    <form action="" class="form-inline" style="display: none;" id="add-question-form">
                        <div class="form-group">
                            <input type="text" id="add-question-input" required class="form-control">
                            <button type="submit" id="add-question-btn" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary" id="save">Сохранить</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/survey.js') }}"></script>
{% endblock %}