<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
</head>
<body>
<table class="tg">
    <tr>
        <th class="tg-0pky" colspan="2">Gromitstroy. Заявка</th>
    </tr>
    <tr>
        <td class="tg-0lax">Дата</td>
        <td class="tg-0lax">{{ date }}</td>
    </tr>
    {% for param in params %}
        <tr>
            <td class="tg-0lax">{{ param.name }}</td>
            <td class="tg-0lax">{{ param.value }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
