.albery-container, .pagination-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    overflow: hidden;
}

.albery-wrapper {
    position: relative;
    height: auto;
    width: 1600px;
}
.albery-item {
    position: relative;
    float: left;
    width: 400px;
}
.albery-item img {
    width: 100%;
}

.move-left, .move-right {
    position: absolute;
    width: 18%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.move-left a, .move-right a {
    text-decoration: none;
    color: rgba(255,255,255,0.3);
    font-size: 55px;
    transition: all .5s;
}
.move-left a:hover, .move-right a:hover {
    color: rgba(255,255,255,0.9);
}

.move-left {
    left: 0;
}

.move-right {
    right: 0;
}

.pagination-wrapper {
    position:relative;
    height: auto;
    width: 1600px;
}
.pagination-item {
    position: relative;
    float: left;
    width: 144px;
    margin-right: 13px;
    cursor: pointer;
}
.pagination-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
