<div class="row footer-p" style="background-image:url({{ asset('img/main/footer_bg.png') }});">
    <div class="col-md-3 offset-md-1 text-left  align-self-center pt-2 left-block">
        <img class="mb-2" src="{{ asset('img/main/logo.png') }}" alt="">
        <p>ООО «ГромитСтрой»</p>
        <p>220035,РБ, г. Минск, ул. Якубова д.80, к.13</p>
        <p>УНП 192807832</p>
        <p>р/с BY76UNBS30121354730020001933</p>
        <p>(в бел.рублях) в ЗАО «БСБ Банк» г. Минск,</p>
        <p>пл. Свободы, 4, код, UNBSBY2X</p>
    </div>
    <div class="col-md-3 text-center offset-md-4 pt-2 right-block">
        <a href="#" data-toggle="modal" data-target="#modal-form"><p class="mt-2"><u><b>Заказать звонок</b></u></p></a>
        {% for phone in items %}
            {% if phone.value %}
                <p class="phone-number"><a href="tel:{{ phone.value }}">{{ phone.value }}</a></p>
            {% endif %}
        {% endfor %}
        <p><a href="mailto:ooogromit@mail.ru">ooogromit@mail.ru</a></p>
    </div>
    <div class="col-md-12 text-center">
        <a href="https://vk.com/zhodinec"><p>Идея сайта, тексты: Евгений Шленский</p></a>
    </div>
</div>









<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 2em;">
            <div class="row p-4">
                <div class="col-md-10 mr-auto ml-auto">
                    <a href="#" data-dismiss="modal" style="position: absolute;right: 0;top: 0;"><i class="fa fa-times"></i></a>
                    <p>Введите свои данные в форму ниже и оставьте заявку на БЕСПЛАТНЫЙ выезд замерщика на ваш объект</p>
                    <form class="contact-form">
                        <div class="form-group">
                            <input type="text" name="Имя" class="form-control" placeholder="Ваше имя" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Телефон" placeholder="+375 (__) ___-__-__" required="required">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="Вид услуг" required="required">
                                <option value="Ограждения из нержавеющей стали">Ограждения из нержавеющей стали</option>
                                <option value="Стеклянные двери и перегородки">Стеклянные двери и перегородки</option>
                                <option value="Лестницы">Лестницы</option>
                                <option value="Кованые изделия">Кованые изделия</option>
                                <option value="Закаленное стекло и зеркала">Закаленное стекло и зеркала</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-custom btn-block">Вызвать замерщика</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
