<div class="row d-flex h-100 header-p"
     style="background-image:url({{ asset('img/main/header_bg.png') }});">
    <div class="col-md-3 offset-md-1 text-center  align-self-center p-2">
        <a href="{{ path('app_index') }}"><img src="{{ asset('img/main/logo.png') }}" alt=""></a>
    </div>
    <div class="col-md-4 text-center pt-md-5">
        <p>Наличие сертификатов</p>
    </div>
    <div class="col-md-3 text-center mt-md-3">
        {% for phone in items %}
            {% if phone.value %}
                <p class="phone-number" style="margin: 0;"><a href="tel:{{ phone.value }}">{{ phone.value }}</a></p>
            {% endif %}
        {% endfor %}
        <p>С 8-00 до 18-00 пн-сб</p>
    </div>
</div>
