<div class="row steps" style="background-image:url({{ asset('img/main/stages_bg.png') }});">
    <div class="col-md-12 text-center pb-2 pt-2">
        <hr width="170px" size="2px">
        <h4>Этапы работы</h4>
        <hr width="170px" size="2px">
    </div>
    <div class="col-md-10 mr-auto ml-auto pb-2">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/1.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Звоните или<br>оставляете заявку</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/2.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Проводим первичную<br>консультацию</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/3.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Бесплатный выезд<br>замерщика на ваш объект</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/4.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Согласование<br>стоимости</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/5.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Запуск<br>производства</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/6.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Доставка<br>и монтаж</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-lg-4 text-lg-right"><img src="{{ asset('img/main/7.png') }}" alt="">
                            </div>
                            <div class="col-lg-8 text-lg-left"><p>Изделие готово<br>к эксплуатации</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ml-auto mr-auto shadowed m-5">
        <div class="row d-flex h-100">
            <div class="col-md-4 text-center align-self-center p-4"><img style="height: 60px;"
                                                                         src="{{ asset('img/main/questions.png') }}"
                                                                         alt=""></div>
            <div class="col-md-8 text-left align-self-center p-3"><p style="font-size: 1.2em;"><u>Ответы на часто
                        задаваемые вопросы</u></p>
            </div>
            <div class="col-md-12">
                <div class="accordion" id="accordionFaq" style="margin-bottom: 15px;">
                    {% for faq in faqs %}
                        <div class="card">
                            <div class="card-header" id="heading{{ faq.id }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                                        {{ faq.question }}
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFaq">
                                <div class="card-body">{{ faq.answer| raw }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <p class="main-headers text-center" style="margin-top: 0.5em; margin-bottom:0.5em;">Оставьте заявку и
            получите предварительный
            просчет<br>стоимости любого изделия для вашего объекта прямо сейчас</p>
        <form class="form-inline justify-content-center contact-form">
            <div class="form-group mb-2 ml-5 mr-5">
                <input type="text" class="form-control"
                       style="height:45px; border-radius: 10px; width: 260px; max-width: 100%;"
                       required="required"
                       name="Name"
                       placeholder="Ваше имя">
            </div>
            <div class="form-group mx-sm-3 mb-2 ml-5 mr-5">
                <input type="text" class="form-control"
                       style="height:45px; border-radius: 10px; width: 260px; max-width: 100%;"
                       required="required"
                       name="Phone"
                       placeholder="+375 (...) - ... - .. - ..">
            </div>
            <button type="submit" class="btn btn-custom mb-2 mt-0 ml-5 mr-5" style="width: 260px; max-width: 100%;">
                Заказать просчет
            </button>
        </form>
        <p class="main-headers text-center pb-2" style="margin-top: 0.5em;">или<br><span
                    style="color: #333; font-weight: 400;">Звоните по номеру телефона: </span>
            +375-29-163-88-94</p>
    </div>
</div>
