{% extends "::base.html.twig" %}
{% block title %}
    Admin Panel: {{ parent() }}
{% endblock %}
{% block body %}
    {% include "admin/partials/navbar.html.twig" %}
    <div id="wrapper">

        {% include "admin/partials/sidebar.html.twig" %}

        <div id="content-wrapper">

            <div class="container-fluid">
                {% block admin_content %}
                {% endblock %}
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Admin Panel 2018</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
