.main-section {
  -webkit-background-size: cover;
  background-size: cover;
}

.main-carousel {
  background-color: rgba(255,255,255, .7);
}

.carousel-control-prev{
  left: -25px;
}
.carousel-control-next{
  right: -25px;
}

.carousel-control-next-icon {
  background-image: url("https://image.flaticon.com/icons/png/512/60/60758.png");
  height: 100px;
  width: 50px;
}

.carousel-control-prev-icon {
  background-image: url("https://image.flaticon.com/icons/png/512/60/60758.png");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 100px;
  width: 50px;
}

.sidemenu-list {
  list-style: none;
  max-width: 250px;
  color: #a3afb8;
  padding: 10px;
  margin-left: -15px;
  padding-left: 25px;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, .7);

  li {
    padding: 8px 0px;
    border-bottom: 1px solid darkgrey;
  }

  :last-child {
    border-bottom: none;
  }
}

.header-sale {
  background-color:rgba(42,33,55, .6);
  color: #fff;
  tab-size: 28px;
  padding: 20px;
  h3 {
    opacity: 1;
  }
}

