@import "~lightbox2/dist/css/lightbox.min.css";

#image-form {
  border: 3px dashed lightskyblue;
  padding: 5px 10px;
}
.main-img-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}